<mat-expansion-panel *ngFor="let message of messages" aria-label="diagnostic message">
  <mat-expansion-panel-header>
    <mat-panel-title>Topic: {{message.topic}}</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-flat-button aria-label="replay message" (click)="onReplay(message)" [disabled]="message.isReplaying">
        Replay
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <pre>{{message.payload | json}}</pre>
</mat-expansion-panel>
