<mat-card aria-label="device detail">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" aria-label="device name" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>External Id</mat-label>
      <input matInput formControlName="externalId" aria-label="device external id" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Device Type</mat-label>
      <input matInput formControlName="deviceType" aria-label="device type" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="isLight">
      <mat-label>Light Type</mat-label>
      <mat-select formControlName="lightType" aria-label="select light type">
        <mat-option *ngFor="let lightType of lightTypes"
                    [value]="lightType">
          {{humanize(lightType)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-expansion-panel *ngIf="isLight" aria-label="lighting panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Lighting</mat-panel-title>
      </mat-expansion-panel-header>
      <lighting [lighting]="lighting"
                [readonly]="true">
      </lighting>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="isLight" aria-label="lighting constraints panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Lighting Constraints</mat-panel-title>
      </mat-expansion-panel-header>
      <lighting-constraints [level]="levelLighting"
                            [temperature]="temperatureLighting"
                            [hideCancel]="true"
                            (save)="onSaveConstraints($event)">
      </lighting-constraints>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Metadata</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let meta of metadata" aria-label="device metadata">
          <p>{{meta.key}}</p>
          <span class="spacer"></span>
          <p>{{meta.value}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions>
    <span class="spacer"></span>
    <button mat-button aria-label="save device" (click)="onSaveDevice()">
      Save Device
    </button>
  </mat-card-actions>
</mat-card>
