<h1 mat-dialog-title>Add Room</h1>
<mat-dialog-content aria-label="add room dialog">
  <form [formGroup]="form" *ngIf="isNotLoading$ | async">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" aria-label="room name">
    </mat-form-field>
  </form>
  <app-loading-indicator [show]="isLoading$ | async"></app-loading-indicator>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" aria-label="cancel room">
    Cancel
  </button>
  <button mat-button (click)="onSave()" aria-label="save room" [disabled]="form.invalid">
    Save
  </button>
</mat-dialog-actions>
