.idea/
node_modules/
**/*.log
!tests/Haus.Core.Tests/Logs/sample-log-files/*.log
bin/
obj/
**/*.cert
**/*.key
dist/
videos/
screenshots/
settings.json
zigbee_data/
build/
coverage/
*.user/
zigbee_data/
**/*.user
publish/
coverage.*
coveragereport/
.DS_Store
**/haus.db*
**/haus-logs/
.vs/
.env-cmdrc.json
