[Unit]
Description=Haus zigbee application

[Service]
Type=notify
WorkingDirectory=/home/bryce/haus/zigbee
ExecStart=/home/bryce/haus/zigbee/Haus.Zigbee.Host
SyslogIdentifier=Haus Zigbee
User=bryce
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target