<diagnostics-header [isConnected]="isConnected$ | async"
                    [allowDiscovery]="allowDiscovery$ | async"
                    [filterParams]="filterParams"
                    (startDiscovery)="onStartDiscovery()"
                    (stopDiscovery)="onStopDiscovery()"
                    (syncDiscovery)="onSyncDiscovery()"
                    (filterChange)="onFilterChange($event)">

</diagnostics-header>
<diagnostics-messages [messages]="messages$ | async"
                      [filterParams]="filterParams"
                      (replayMessage)="onReplayMessage($event)">

</diagnostics-messages>
