<mat-expansion-panel class="health-widget" data-testid="health-check">
  <mat-expansion-panel-header [class.success-background-color]="isOk" [class.warning-background-color]="isWarning" [class.error-background-color]="isError">
    <mat-panel-title data-testid="name">
        <mat-icon data-testid="error" *ngIf="isError">error</mat-icon>
        <mat-icon data-testid="ok" *ngIf="isOk">check_circle</mat-icon>
        <mat-icon data-testid="warning" *ngIf="isWarning">warning</mat-icon>
        {{name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="details">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput [value]="status" readonly data-testid="status"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Check Duration</mat-label>
      <input matInput [value]="checkDuration" readonly data-testid="check-duration"/>
    </mat-form-field>

    <mat-form-field *ngIf="hasDescription">
      <mat-label>Description</mat-label>
      <input matInput [value]="description" readonly data-testid="description"/>
    </mat-form-field>

    <mat-form-field *ngIf="hasExceptionMessage">
      <mat-label>Exception Message</mat-label>
      <input matInput [value]="exceptionMessage" readonly data-testid="exception-message"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tags</mat-label>
      <input matInput [value]="tags" readonly data-testid="tags"/>
    </mat-form-field>
  </div>
</mat-expansion-panel>
