@use '~@angular/material' as mat;

$success_color: mat.get-color-from-palette(mat.$green-palette, A400);
$error_color: mat.get-color-from-palette(mat.$red-palette, A400);
$warning_color: mat.get-color-from-palette(mat.$deep-orange-palette, A400);

@mixin colored-background($color) {
  background-color: $color !important;
  color: white !important;
}

.success-color {
  color: $success_color;
}

.success-background-color {
  @include colored-background($success_color);
}

.warning-color {
  color: $warning_color;
}

.warning-background-color {
  @include colored-background($warning_color);
}

.error-color {
  color: $error_color;
}

.error-background-color {
  @include colored-background($error_color);
}
