@import '~@angular/material/theming';

$success_color: mat-color($mat-green, A400);
$error_color: mat-color($mat-red, A400);
$warning_color: mat-color($mat-deep-orange, A400);

@mixin colored-background($color) {
  background-color: $color !important;
  color: $light-primary-text !important;
}

.success-color {
  color: $success_color;
}

.success-background-color {
  @include colored-background($success_color);
}

.warning-color {
  color: $warning_color;
}

.warning-background-color {
  @include colored-background($warning_color);
}

.error-color {
  color: $error_color;
}

.error-background-color {
  @include colored-background($error_color);
}
