<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button aria-label="menu" (click)="onToggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HAUS</span>
      <span class="spacer"></span>
      <mat-slide-toggle aria-label="theme toggle" (toggleChange)="toggleTheme()"></mat-slide-toggle>
      <div *ngIf="user" class="user-menu" aria-label="user menu">
        <img aria-label="profile img"
             alt="User's Profile Picture"
             class="user-picture"
             [src]="profilePicture"/>
        <button mat-icon-button
                aria-label="user menu"
                [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  aria-label="logout"
                  (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

