<mat-card>
  <mat-card-header>
    <mat-card-title data-testid="version">{{versionNumber}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-label>Is Official Release?</mat-label>
      <mat-slide-toggle [checked]="isStableRelease" data-testid="is-official" disabled></mat-slide-toggle>
    </div>
    <div>
      <mat-label>Is Newer Release?</mat-label>
      <mat-slide-toggle [checked]="isNewerVersion" data-testid="is-newer" disabled></mat-slide-toggle>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Release Date</mat-label>
      <input matInput data-testid="release-date" [value]="releaseDate" disabled/>
    </mat-form-field>
    <p class="mat-body-1" data-testid="description">{{description}}</p>

    <h3>Packages</h3>
    <mat-divider></mat-divider>
    <mat-action-list>
      <button *ngFor="let model of packages"
              mat-list-item
              data-testid="application-package"
              (click)="onDownloadPackage(model)">
        {{model.name}}
      </button>
    </mat-action-list>
  </mat-card-content>
</mat-card>
