<div aria-label="lighting" *ngIf="hasLighting; else noLightingFound">
  <div class="lighting-field">
    <span aria-label="state value" class="label">State: {{lightingState}}</span>
    <mat-slide-toggle aria-label="state"
                      [checked]="state"
                      (change)="onStateChange($event)"
                      [disabled]="readonly">
    </mat-slide-toggle>
  </div>

  <div class="lighting-field">
    <span aria-label="level value" class="label">Level: {{level}}</span>
    <mat-slider aria-label="level"
                [min]="minLevel"
                [max]="maxLevel"
                [value]="level"
                [disabled]="readonly"
                (input)="onLevelChanged($event)">
    </mat-slider>
  </div>

  <div class="lighting-field" *ngIf="temperatureLighting">
    <span aria-label="temperature value" class="label">Temperature (K): {{temperature}}</span>
    <mat-slider aria-label="temperature"
                [min]="minTemperature"
                [max]="maxTemperature"
                [value]="temperature"
                [disabled]="readonly"
                (input)="onTemperatureChanged($event)">

    </mat-slider>
  </div>

  <lighting-color *ngIf="colorLighting"
                  [color]="colorLighting"
                  [readonly]="readonly"
                  (colorChange)="onLightingColorChanged($event)">
  </lighting-color>
</div>
<ng-template #noLightingFound>
  <h3 class="mat-title">No lighting available</h3>
</ng-template>
