<div data-testid="lighting" *ngIf="hasLighting; else noLightingFound">
  <div class="lighting-field">
    <span data-testid="state-value" class="label">State: {{lightingState}}</span>
    <mat-slide-toggle data-testid="state-input"
                      [checked]="state"
                      (change)="onStateChange($event)"
                      [disabled]="readonly">
    </mat-slide-toggle>
  </div>

  <div class="lighting-field">
    <span data-testid="level-value" class="label">Level: {{level}}</span>
    <mat-slider data-testid="level-input"
                [min]="minLevel"
                [max]="maxLevel"
                [value]="level"
                [disabled]="readonly"
                (input)="onLevelChanged($event)">
    </mat-slider>
  </div>

  <div class="lighting-field">
    <span data-testid="temperature-value" class="label">Temperature (K): {{temperature}}</span>
    <mat-slider data-testid="temperature-input"
                [min]="minTemperature"
                [max]="maxTemperature"
                [value]="temperature"
                [disabled]="readonly"
                (input)="onTemperatureChanged($event)">

    </mat-slider>
  </div>

  <lighting-color [color]="color"
                  [readonly]="readonly"
                  (colorChange)="onLightingColorChanged($event)">
  </lighting-color>
</div>
<ng-template #noLightingFound>
  No lighting available
</ng-template>
