<mat-toolbar aria-label="device simulator header">
  <mat-toolbar-row>
    <a mat-button routerLink="add-simulated-device">
      Add Simulated Device
    </a>
    <span class="spacer"></span>
    <span>Status: {{status}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dashboard">
  <div *ngFor="let simulatedDevice of simulatedDevices; trackBy: trackDevicesBy"
       aria-label="simulated device item"
       class="widget">
    <simulated-device-widget [simulatedDevice]="simulatedDevice"
                             (occupancyChange)="onOccupancyChange($event)">

    </simulated-device-widget>
  </div>
</div>
