:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  app-loading-indicator {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;

    align-self: center;
    justify-self: center;
  }
}
