<mat-card>
  <mat-card-header>
    <mat-card-title>{{deviceType}}</mat-card-title>
    <mat-card-subtitle>{{id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Metadata</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let meta of metadata" aria-label="simulated metadata item">
          {{meta.key}}
          <span class="spacer"></span>
          {{meta.value}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="isMotionSensor">
      <mat-expansion-panel-header>
        <mat-panel-title>Occupancy</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="toggle-group">
        <mat-label>Is Occupied?</mat-label>
        <mat-slide-toggle [checked]="isOccupied" aria-label="is occupied toggle" disabled></mat-slide-toggle>
      </div>
      <button mat-button
              aria-label="trigger occupancy change"
              (click)="onOccupancyChange()">
        Trigger Occupancy Change
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="isLight">
      <mat-expansion-panel-header>
        <mat-panel-title>Lighting</mat-panel-title>
      </mat-expansion-panel-header>
      <lighting [lighting]="lighting" [readonly]="true"></lighting>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
