<mat-card data-testid="health-dashboard" *ngIf="hasReport else waiting">
  <mat-card-header>
    <mat-card-title [class.warning-color]="isWarning"
                    [class.success-color]="isOk"
                    [class.error-color]="isError">
      <mat-icon color="warn" data-testid="error-indicator" *ngIf="isError">error</mat-icon>
      <mat-icon class="success-color" data-testid="ok-indicator" *ngIf="isOk">check_circle</mat-icon>
      <mat-icon class="warning-color" data-testid="warning-indicator" *ngIf="isWarning">warning</mat-icon>
      Haus Health
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <health-check-widget *ngFor="let check of checks; trackBy: trackChecksBy"
                         [check]="check">
    </health-check-widget>
  </mat-card-content>
</mat-card>

<ng-template #waiting>
  <h3 data-testid="waiting-for-report" class="mat-title">Waiting for health report</h3>
</ng-template>
