<mat-card aria-label="room detail">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-expansion-panel>
      <mat-expansion-panel-header aria-label="room lighting">
        <mat-panel-title>{{name}} Lighting</mat-panel-title>
      </mat-expansion-panel-header>

      <lighting [lighting]="lighting"
                (change)="onLightingChanged($event)">
      </lighting>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header aria-label="room devices">
        <mat-panel-title>Room Devices</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <a *ngFor="let device of devices"
           mat-list-item
           aria-label="room device item"
           [routerLink]="['/devices', device.id]">
          ({{device.deviceType}}) {{device.name}}
        </a>
      </mat-list>
      <button mat-fab aria-label="assign devices" (click)="onAssignDevices()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
