<mat-card data-testid="room-detail">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div>
      <h3>{{name}} Lighting</h3>
      <lighting [lighting]="lighting"
                (change)="onLightingChanged($event)">

      </lighting>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h4 class="mat-subheader">Room Devices</h4>
      <mat-list>
        <a *ngFor="let device of devices"
           mat-list-item
           data-testid="room-device-item"
           [routerLink]="['devices', device.id]">

        </a>
      </mat-list>
      <button mat-fab data-testid="assign-devices-btn" (click)="onAssignDevices()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
