@import '~@angular/material/theming';

:host,
mat-sidenav-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.side-nav-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

.logo {
  height: 8rem;
  width: 8rem;
}

.version {
  justify-self: end;
  text-decoration: none;
}
