<mat-sidenav-container>
  <mat-sidenav mode="side" aria-label="nav drawer" [opened]="isOpen" (openedChange)="handleClosed($event)">
    <div class="side-nav-container">
      <div>
        <img class="logo" src="assets/logo.png" alt="Logo"/>
      </div>
      <mat-nav-list>
        <a *ngFor="let route of links$ | async"
           mat-list-item
           aria-label="nav link"
           [routerLink]="route.path"
           routerLinkActive="active">
          {{route.name}}
        </a>
      </mat-nav-list>
      <a mat-menu-item class="mat-subheader version" routerLink="latest-version">
        Version: {{version$ | async}}
        <mat-icon aria-label="update available" *ngIf="isUpdateAvailable$ | async">
          upgrade
        </mat-icon>
        <mat-icon aria-label="update error" *ngIf="hasUpdateError$ | async">
          warning
        </mat-icon>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
