<mat-sidenav-container>
  <mat-sidenav mode="side" data-testid="nav-drawer" [opened]="isOpen" (openedChange)="handleClosed($event)">
    <div class="side-nav-container">
      <div>
        <img class="logo" src="assets/logo.png" alt="Logo"/>
      </div>
      <mat-nav-list>
        <a *ngFor="let route of links$ | async"
           mat-list-item
           [routerLink]="route.path"
           routerLinkActive="active">
          {{route.name}}
        </a>
      </mat-nav-list>
      <span class="mat-subheader version">
          Version: {{version$ | async}}
        <mat-icon data-testid="update-available" *ngIf="isUpdateAvailable$ | async">
          upgrade
        </mat-icon>
      </span>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
