@model Haus.Identity.Web.Users.ViewModels.LoginViewModel
@{
    Layout = "Layout";
}

<div id="root"></div>

@section scripts
{
    <script>
        var initialUsername = '@Model.Username';
    </script>
    <script src="~/dist/users.js" asp-append-version="true"></script>
}
