@model Haus.Identity.Web.Users.ViewModels.LoginViewModel
@{
    Layout = "Layout";
}

<form asp-controller="Users" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post">
    <div class="form-group">
        <label asp-for="Username" class="bmd-label-floating">Username</label>
        <input asp-for="Username" name="Username" class="form-control" data-testid="username-input" value="@Model.Username"/>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="bmd-label-floating">Password</label>
        <input asp-for="Password" name="Password" class="form-control" data-testid="password-input" type="password"/>
    </div>
    
    <button type="submit" class="btn btn-raised btn-primary" data-testid="login-button">Login</button>
</form>