@import "../../../shared/styles/utilities";

:host,
.discovery-main {
  @extend .fill;

  .rooms {
    display: flex;
    flex: 1;
    flex-direction: column;

    .room-card {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 1rem;
    }
  }

  .unassigned-devices {
    display: flex;
    flex: 1;
  }
}
