<div class="discovery-main">
  <div class="rooms">
    <discovery-room *ngFor="let room of rooms$ | async"
                    [room]="room"
                    [devices]="assignedDevices$ | async"
                    (assignDevice)="onDeviceAssignedToRoom($event)">
    </discovery-room>
  </div>
  <div class="unassigned-devices">
    <discovery-unassigned-devices [devices]="unassignedDevices$ | async"
                                  [roomIds]="roomIds$ | async">
    </discovery-unassigned-devices>
  </div>
</div>
