<h1 mat-dialog-title>Assign Devices To Room</h1>
<mat-dialog-content>
  <mat-selection-list>
    <mat-list-option *ngFor="let device of unassignedDevices$ | async"
                     aria-label="unassigned device item"
                     (click)="onChecked(device)">
      ({{humanize(device.deviceType)}}) {{device.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          (click)="onCancelAssignDevices()"
          aria-label="cancel assign devices">
    Cancel
  </button>
  <button mat-button
          (click)="onAssignDevicesToRoom()"
          aria-label="assign devices to room"
          [disabled]="hasEmptySelection">
    Assign
  </button>
</mat-dialog-actions>
