<mat-card aria-label="recent logs">
  <mat-card-header>
    <mat-card-title>Recent Logs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-loading-indicator [show]="isLoading"></app-loading-indicator>
    <mat-list *ngIf="hasLogs">
      <mat-list-item *ngFor="let log of logs; trackBy: trackByTimestamp"
                     aria-label="log entry">
        <mat-icon mat-list-icon>{{getIcon(log)}}</mat-icon>
        <div mat-line>[{{log.level}}] {{log.timestamp}}</div>
        <div mat-line>{{log.message}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

