@use '@angular/material' as mat;

@include mat.core();

$client-app-primary: mat.define-palette(mat.$orange-palette);
$client-app-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);

$client-app-warn: mat.define-palette(mat.$red-palette);

$client-dark-theme: mat.define-dark-theme((
  color: (
    primary: $client-app-primary,
    accent: $client-app-accent,
    warn: $client-app-warn,
  )
));
$client-light-theme: mat.define-light-theme((
  color: (
    primary: $client-app-primary,
    accent: $client-app-accent,
    warn: $client-app-warn,
  )
));

@include mat.all-component-themes($client-dark-theme);

html, body {
  height: 100%;
  width: 100%;
  display: grid;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-theme {
  @include mat.all-component-colors($client-light-theme);
}

.spacer {
  flex-grow: 1;
}

.active {
  color: mat.get-color-from-palette($client-app-primary) !important;
}

.large-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.toggle-group {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-content: center;

  mat-label {
    padding-right: 1rem;
  }
}

@import './app/shared/styles/master-detail';
@import './app/shared/styles/colors';
@import './app/shared/styles/utilities';
