<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haus Identity</title>
</head>
<body>
<header>
    
</header>
<main>
    @RenderBody()
</main>
@RenderSectionAsync("scripts", false);
</body>
</html>