<div class="lighting-constraints" aria-label="lighting constraints" [formGroup]="constraintsForm">
  <div class="range">
    <mat-form-field appearance="fill">
      <mat-label>Min Level</mat-label>
      <input matInput type="number" formControlName="minLevel" aria-label="min level"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max Level</mat-label>
      <input matInput type="number" formControlName="maxLevel" aria-label="max level"/>
    </mat-form-field>
  </div>

  <div class="range">
    <mat-form-field appearance="fill" *ngIf="temperature">
      <mat-label>Min Temperature</mat-label>
      <input matInput type="number" formControlName="minTemperature" aria-label="min temperature"/>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="temperature">
      <mat-label>Max Temperature</mat-label>
      <input matInput type="number" formControlName="maxTemperature" aria-label="max temperature"/>
    </mat-form-field>
  </div>

  <div class="actions">
    <span class="spacer"></span>
    <button mat-button (click)="onCancel()" [disabled]="readonly" *ngIf="showCancel" aria-label="cancel constraints">
      Cancel
    </button>

    <button mat-button (click)="onSave()" [disabled]="constraintsForm.invalid || readonly"
            aria-label="save constraints">
      Save Constraints
    </button>
  </div>

</div>
